{% extends 'base.html' %}

{% load static %}
{% block content %}
   <section class="main-content min-h-800">


      <div class="container mt-4">
         <div class="d-flex justify-content-between">
            <h1>Корзина</h1>
            <a href="{% url 'checkout' %}" class="btn btn-success checkout">Оформить заказ</a>
         </div>



         <div class="container m-0 p-0">
            <div class="row container m-0 p-0">
               <div class="row col-lg-12  m-0 p-0">
                    {% for dish in dishes_to_cart %}
                  <div class=" product-cart product">
                     <div class="relative"><a href="delete-form-cart/{{ dish.0.0.get_product_url }}" class="delete"><p class="fs-5 text-end mb-0 mt-1"><i class="bi bi-trash-fill"></i></p></a></div>

                     <div class="product-thumb">
                        <a href="#" class="mt-0"><img src="{{ dish.0.0.image1.url }}" alt="img" class="mw95"></a>
                     </div>
                     <div class="product-details">
                        <h4><a href="dish/{{ dish.0.0.get_product_url }}">{{ dish.0.0.title }}</a></h4>
                     </div>
                     <div class="product-bottom-details">
                        <div class="product-bottom d-flex justify-content-between align-items-center">
                           <p>{{ dish.0.0.price }}₽</p>
                            <form action="change-qty/{{ dish.0.0.get_product_url }}/" class="qch count me-1" id="form_{{ dish.0.0.get_product_url }}" method="post">
                              <button class="change d-none" onclick="triggerButton1Click()">
                              </button>
{#                           <span class="count me-1">#}
                              <button class="change minus min" onclick="triggerButton1Click()">
                                  <span>-</span>
                              </button>


                                <input type="number" step="1" min="1" max="100" id="num_count" name="quantity" value="{{ dish.1 }}" title="Qty" class="number2-text "form="form_{{ dish.0.0.get_product_url }}">

{#                              <input type="text" name="productСount" value="{{ dish.1 }}">#}
                                {% csrf_token %}
                              <button class="change plus" onclick="triggerButton1Click()">
                                  <span>+</span>
                              </button>
                                <input type="submit" class="chq d-none" form="form_{{ dish.0.0.get_product_url }}">
{#                          </span>#}
                           </form>
                        </div>
                     </div>
                  </div>
                    {% endfor %}

               </div>
            </div>
         </div>

      </div>
   </section>
{% endblock content %}


